<div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-11 d-flex align-items-center">
          <!--<h1 class="logo mr-auto"><a href="index.html">Influzy</a></h1>-->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="index.html" class="mr-auto mb-2"><img src="assets/img/influzy.png" alt="" class="img-fluid"></a>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#clients">Our Brands</a></li>
              <li><a href="#team">Influencers</a></li>
              <li><a href="#contact">Contact Us</a></li>

            </ul>
          </nav><!-- .nav-menu -->
		  <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp sign-in-btn">Sign In</a>
        </div>
      </div>

    </div>